{% macro format_date(date) %}
{{ date.strftime('%Y-%m-%d %H:%M:%S') }}
{% endmacro %}

{% macro format_file_size(size) %}
{% if size < 1024 %} {{ size }} B {% elif size < 1024 * 1024 %} {{ (size / 1024)|round(1) }} KB {% elif size < 1024 *
    1024 * 1024 %} {{ (size / (1024 * 1024))|round(1) }} MB {% else %} {{ (size / (1024 * 1024 * 1024))|round(1) }} GB
    {% endif %} {% endmacro %} {% macro get_file_icon(filename) %} {% set ext=filename.split('.')[-1].lower() %} {% if
    ext in ['jpg', 'jpeg' , 'png' , 'gif' ] %} <i class="fas fa-image"></i>
    {% elif ext in ['mp4', 'avi', 'mov'] %}
    <i class="fas fa-video"></i>
    {% elif ext in ['mp3', 'wav', 'ogg'] %}
    <i class="fas fa-music"></i>
    {% else %}
    <i class="fas fa-file"></i>
    {% endif %}
    {% endmacro %}